.md-grid {
	max-width: 1000px;
}

:root {
	--news-border-color: rgb(12, 12, 12);
	--news-background-color-title: rgb(12, 12, 12, 0.1);
	--news-background-color-icon: rgb(12, 12, 12);

	--publications-border-color: rgb(12, 12, 12);
	--publications-background-color-title: rgb(12, 12, 12, 0.1);
	--publications-background-color-icon: rgb(12, 12, 12);
}

[data-md-color-scheme='slate'] {
	--news-border-color: rgb(250, 248, 227, 0.7);
	--news-background-color-title: rgb(250, 248, 227, 0.7);

	--publications-border-color: rgb(250, 248, 227, 0.7);
	--publications-background-color-title: rgb(250, 248, 227, 0.7);
}

:root {
	--md-admonition-icon--news: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="120px" height="120px">    <path d="M 4 2 C 3.448 2 3 2.448 3 3 L 3 24 C 3 26.209 4.791 28 7 28 L 22 28 L 23 28 L 24 28 C 26.209 28 28 26.209 28 24 L 28 10 C 28 9.448 27.552 9 27 9 L 25 9 L 25 24 C 25 24.553 24.552 25 24 25 C 23.448 25 23 24.553 23 24 L 23 3 C 23 2.448 22.552 2 22 2 L 4 2 z M 6 6 L 20 6 L 20 9 L 6 9 L 6 6 z M 6 13 L 12 13 L 12 15 L 6 15 L 6 13 z M 14 13 L 20 13 L 20 15 L 14 15 L 14 13 z M 6 17 L 12 17 L 12 19 L 6 19 L 6 17 z M 14 17 L 20 17 L 20 19 L 14 19 L 14 17 z M 6 21 L 12 21 L 12 23 L 6 23 L 6 21 z M 14 21 L 20 21 L 20 23 L 14 23 L 14 21 z"/></svg>');
}
.md-typeset .admonition.news,
.md-typeset details.news {
	border-color: var(--news-border-color);
}
.md-typeset .news > .admonition-title,
.md-typeset .news > summary {
	background-color: var(--news-background-color-title);
	color: black;
}
.md-typeset .news > .admonition-title::before,
.md-typeset .news > summary::before {
	background-color: var(--news-background-color-icon);
	-webkit-mask-image: var(--md-admonition-icon--news);
	mask-image: var(--md-admonition-icon--news);
}

:root {
	--md-admonition-icon--publication: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="192px" height="192px">    <path d="M 6 2 C 4.895 2 4 2.895 4 4 L 4 19 C 4 20.64497 5.3550302 22 7 22 L 19 22 A 1.0001 1.0001 0 1 0 19 20 L 7 20 C 6.4349698 20 6 19.56503 6 19 C 6 18.43497 6.4349698 18 7 18 L 19 18 A 1.0001 1.0001 0 0 0 20 16.841797 L 20 3 C 20 2.448 19.552 2 19 2 L 16 2 L 16 12 L 13 10 L 10 12 L 10 2 L 6 2 z"/></svg>');
}
.md-typeset .admonition.publication,
.md-typeset details.publication {
	border-color: var(--publications-border-color);
}
.md-typeset .publication > .admonition-title,
.md-typeset .publication > summary {
	background-color: var(--publications-background-color-title);
  color: black;
}
.md-typeset .publication > .admonition-title::before,
.md-typeset .publication > summary::before {
	background-color: var(--publications-background-color-icon);
	-webkit-mask-image: var(--md-admonition-icon--publication);
	mask-image: var(--md-admonition-icon--publication);
}
